.list_container {
    padding: 20px 10%;
    display: grid;
    gap: 15px 15px;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: space-around;
}

.list_box {
    width: 300px;
    height: 400px;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}

.list_box .title {
    font-size: 18px;
    font-weight: bold;
}

.list_box .author_info {
    font-size: 14px;
    color: #999;
    margin: 5px 0 5px 10px;
}

.list_box .author_info .author_name {
    color: var(--primary-color);
    margin-right: 5px;
}

.list_box .list_intro {
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    font-size: 14px;
    color: #777;
    padding: 0 10px;
    cursor: pointer;
}

.list_box .list_intro:hover {
    text-decoration: underline;
}

.list_box .cover {
    width: 100%;
    height: 65%;
}
